.header {
    width: 100%;
    height: 31px;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: Ñenter;
    justify-content: center;
    width: 107px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 112.68%;
    padding: 7px;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 142.25px;
    height: 30.66px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    color: #ffffff;
}

.block>div {
    height: 24px;
    width: 124px;
}